<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <title>To Do List</title>
    </head>
    <body>
        <% if (kindOfDay === "Saturday" || kindOfDay === "Sunday"){ %>
            <h1 style="color:purple">It's a <%=kindOfDay%></h1>
        <% } else{ %>
            <h1 style="color:blue">It's a <%=kindOfDay%></h1>
        <% } %>
    </body>
</html>